<!DOCTYPE HTML>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<link rel="stylesheet" href="color-picker.css">
<script src="color-picker.js"></script>

<fieldset class="color-picker">
    <select class="format">
        <option  selected>RGB</option>

    </select>
    <input class="color" type="text" value="rgb(128, 128, 128)" />
    <div class="spectrum">
        <div>
            <div class="pin"></div>
        </div>
    </div>
    <input class="luminosity" type="range" min="0" max="100" />
</fieldset>

</body>
</html>